---
layout: archive
---

<article class="resume-wrap">
    <div class="content-header">
        <span class="icon">🧑🏻‍💻</span>
        <h1 class="page-title">도전을 좋아하는 개발자 백지민 입니다.</h1>
    </div>
    <div class="content-wrap">
        <div class="content none">
            <div class="content-profile">
                <figure class="item-profile">
                    <img src="./assets/images/profile.png"/>
                </figure>
                <div class="item-text">
                    <div class="item-center">
                        <p>👨🏻‍💻 백지민</p>
                        <p>✉️ wmlals0002@gmail.com</p>
                        <p>🤙🏻 01044144737</p>
                        <p>🧷 <a href="https://github.com/jmlog" target="_blank"> https://github.com/jmlog</a>
                        <p>🇰🇷 South Korea</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content introduce">
            <h1 class="content-title">블로그 이관</h1>
            <p class="default-text">
                노션과 블로그에서 데이터를 이관중입니다.<br/>
                <a href="https://velog.io/@b_jim" target="_blank">이관중인 블로그</a>
            </p>
        </div>
<!--        <div class="content introduce">-->
<!--            <h1 class="content-title">Introduce.</h1>-->
<!--            <p class="default-text">-->
<!--                도전을 좋아하는 개발자 백지민 입니다.-->
<!--                새로운 환경이나 새로운 것에 도전하는 것을 좋아합니다. 디자인부터 시작하여 퍼블리셔, 그리고 백엔드 개발자가 되기까지 끊임없는 노력과 도전을 해왔습니다.-->
<!--            </p>-->
<!--            <p class="default-text">-->
<!--                스타트업의 초기 개발자로 입사하여 누적투자 235억 원, 규모 80명의 회사로 성장할 때까지 웹/앱-->
<!--                기능개발, 배포, 운영 등 핵심 개발을 담당한 경험이 있습니다. 또한 업무 초반 급급하게 개발하던 환경을 체계적으로 개선하기 위해 팀별 업무 내용 공유, 일정 공유, 업무환경 개선 등 더 나은-->
<!--                환경을 주도하고 개선한 경험이 있습니다.-->
<!--            </p>-->
<!--            <p class="default-text">-->
<!--                믿고 의지할 수 있는 동료들과 함께 일했습니다.-->
<!--                저의 동료들은 서로가 서로에게 힘이 돼주었고, 혼자서는 해낼 수 없는 일도 항상 옆에서 같이해주며 앞으로 달려 나가는 길에 큰 힘이 되어주었습니다.-->
<!--                믿을 수 있고 의지할 수 있는 동료를 만들어서 어떠한 일이든 함께 이끌어 나아가는 게 제가 생각하는 업무의 핵심 가치입니다.-->
<!--            </p>-->
<!--            <p class="default-text">-->
<!--                20년 뒤에도 뒤처지지 않고 새로운 미래를 향해 끝없이 도전하고 성장하는 개발자가 되고 싶습니다.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="content">-->
<!--            <h1 class="content-title">Experience.</h1>-->
<!--            <div class="content-item">-->
<!--                <div class="head-wrap">-->
<!--                    <h3 class="content-title-sub">[HMC NETWORKS] - CARENATION2.0</h3>-->
<!--                    <h4 class="content-desc">사업 시작 2년만에 누적 투자금 235억원, 누적회원 10만, MAU 3.5만 간병인 매칭 플래폼</h4>-->
<!--                    <h3 class="content-desc-info">Back-End Developer (선임)</h3>-->
<!--                    <h3 class="content-desc-info2">2020.03 ~ 2022.08</h3>-->
<!--                </div>-->
<!--                <div class="content-item-wrap">-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[담당업무]</h3>-->
<!--                        <p class="default-text">-->
<!--                            케어네이션 초기부터 앱을 구축 및 유지보수하였고, 주로 사용자 앱의 신규 기능 개발, 유지보수를 주로-->
<!--                            담당하였습니다.-->
<!--                            그 외 최고 관리자, CS 관리자를 구축하고 신규 기능개발, 장애 대응, 유지보수를 전담하였습니다.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[기술 스택]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>PHP</li>-->
<!--                            <li>Laravel Framework / valet</li>-->
<!--                            <li>Mysql</li>-->
<!--                            <li>Ajax</li>-->
<!--                            <li>Git lab</li>-->
<!--                            <li>Aws</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[주요업무]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>AES, RSA를 활용한 암/복호화</li>-->
<!--                            <li>sha256를 활용한 암호화 및 Post Data 위변조 체크</li>-->
<!--                            <li>ORM을 활용한 데이터 맵핑 및 관계형 쿼리작업</li>-->
<!--                            <li>Query Builder를 활용한 쿼리작업</li>-->
<!--                            <li>Collection 을 활용한 데이터 가공 작업</li>-->
<!--                            <li>Rest Api 개발</li>-->
<!--                            <li>Git을 활용한 버전관리 및 소스 리뷰</li>-->
<!--                            <li>테스트 서버 배포</li>-->
<!--                            <li>전반적인 앱 기능개발 및 유지보수</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[상세업무] - 보호자앱</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>[보호자2.0] 보호자 일정관리 서비스 기능 개발<br>ㄴ 초기 일정등록(종료 예정 없음)시 7s -> 0.01s 기획안 개선 및 기능 개선</li>-->
<!--                            <li>[보호자2.0] 병원, 약국, 상조/장례 등 시설찾기 서비스 기능<br>ㄴ 초기 리스트 조회 시 1.2s -> 0.2s로 기능 개선</li>-->
<!--                            <li>[보호자2.0] 케어네이션 보호자 커뮤니티 서비스 기능 / 댓글기능 개발<br>ㄴ 댓글이 많은 데이터 조회시 2.6s -> 0.02s로 쿼리문 개선</li>-->
<!--                            <li>[보호자] 간병인 동행 서비스 기능 개발</li>-->
<!--                            <li>[보호자] 보람상조 상품판매 외부 API 연동</li>-->
<!--                            <li>[보호자] 병원비 비대면 결제 서비스 기능 개발</li>-->
<!--                            <li>[보호자] 앱통장 기능 개발</li>-->
<!--                            <li>[보호자, 간병인] 앱 푸쉬 기능 개발</li>-->
<!--                            <li>[보호자] 알리고 서비스 외부 API 연동</li>-->
<!--                            <li>[보호자] 간병인 구인 공고 등록 기능 개발</li>-->
<!--                            <li>[보호자] 환자 등록 기능 개발</li>-->
<!--                            <li>[보호자] 지원한 간병인 업무능력 데이터 비교 기능 개발</li>-->
<!--                            <li>[보호자] 일반결제 및 간편결제 기능 개발</li>-->
<!--                            <li>[보호자] 간병인 한줄평 기능 추가</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[상세업무] - 간병인앱</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>[간병인] 공고 지원기능 개발</li>-->
<!--                            <li>[간병인] 유급휴가제 기능 개발</li>-->
<!--                            <li>[간병인] 리텐션 이벤트 기능 개발</li>-->
<!--                            <li>[간병인] 업무능력 평가 비교 기능 개발</li>-->
<!--                            <li>[간병인] 삼성화재 자동 보험가입 외부 API 연동</li>-->
<!--                            <li>[간병인] 앱통장 기능 개발</li>-->
<!--                            <li>[간병인] 알리고 서비스 외부 API 연동</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[상세업무] - 최고관리자 / CS관리자</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>[관리자] 사내 회계 / 정산시스템 개발</li>-->
<!--                            <li>[관리자] 간병인 부분취소 정산금액 계산 기능 개발</li>-->
<!--                            <li>[관리자] 공고관리 기능 개발</li>-->
<!--                            <li>[관리자] 결제취소 기능 개발</li>-->
<!--                            <li>[관리자] 관리자가 간병인 대신 공고지원 기능 개발</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[성과]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>케어네이션 앱 출시</li>-->
<!--                            <li>동종 업계 1위 달성</li>-->
<!--                            <li>연매출 0원 -> 80억으로 증가</li>-->
<!--                            <li>누적 투자금 235억 유치</li>-->
<!--                            <li>앱 다운로드 수 10만+</li>-->
<!--                            <li>누적회원 10만</li>-->
<!--                            <li>MAU 3.5만</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[그 외 업무]</h3>-->
<!--                        <p class="default-text">기업회원 관리자, 데이터랩, 케어네이션 홈페이지, HMC네트웍스 홈페이지</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dash-line"></div>-->
<!--            <div class="content-item">-->
<!--                <div class="head-wrap">-->
<!--                    <h3 class="content-title-sub">[ENJOY WORKS]</h3>-->
<!--                    <h4 class="content-desc">매년 10개 이상의 프로젝트를 개발하는 SI 업체</h4>-->
<!--                    <h3 class="content-desc-info">Back-End Developer (사원)</h3>-->
<!--                    <h3 class="content-desc-info2">2018.01 ~ 2020.03</h3>-->
<!--                </div>-->
<!--                <div class="content-item-wrap">-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[업무내용]</h3>-->
<!--                        <p class="default-text">시작단계인 프로젝트중 일부 기능들을 담당하여 신규구축 및 유지보수를 담당하였습니다.</p>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[사용언어 및 개발환경]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>PHP 7.2</li>-->
<!--                            <li>Laravel Framework 5.8 / valet</li>-->
<!--                            <li>Mysql 5.6</li>-->
<!--                            <li>Ajax</li>-->
<!--                            <li>Git lab</li>-->
<!--                            <li>Html5, Css3, JavaScript, jQuery, Gulp, Scss</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[상세업무] - 스타플레이</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>생방송 전 원하는 아이돌에게 투표기능</li>-->
<!--                            <li>좋아하는 아이돌 홍보 게시판 기능</li>-->
<!--                            <li>리워드 기능</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[성과]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>스타플레이 앱 출시</li>-->
<!--                            <li>앱 다운로드 수 100만+</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[상세업무] - 휴넷 합격마법사</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>문제풀이 기능 개발</li>-->
<!--                            <li>문제풀이 해설 기능 개발</li>-->
<!--                            <li>자주 틀리는 문제 및 약점 공유 기능 개발</li>-->
<!--                            <li>과목별 문제등록 기능 개발</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[성과]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>휴넷 문제풀이 홈페이지 출시</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[상세업무] - 부여시 굿뜨레페이 관리자</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>회원관리 기능 개발</li>-->
<!--                            <li>가맹점관리 기능 개발</li>-->
<!--                            <li>통계관리 기능 개발</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dash-line"></div>-->
<!--            <div class="content-item">-->
<!--                <div class="head-wrap">-->
<!--                    <h3 class="content-title-sub">[SIDE PROJECT] - RESCUE PAT</h3>-->
<!--                    <h4 class="content-desc">유기견, 유기묘 들의 수술비나 생활비를 지원해주는 모금함 프로젝트</h4>-->
<!--                    <h3 class="content-desc-info">Back-End Developer</h3>-->
<!--                    <h3 class="content-desc-info2">2023-01 ~ 진행중</h3>-->
<!--                </div>-->
<!--                <div class="content-item-wrap">-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[업무내용]</h3>-->
<!--                        <p class="default-text">-->
<!--                            평소 관심 있던 분야를 개발하고자 만든 사이드 프로젝트 겸, 기술이나 공부가 부족해 실무에 적용해보지-->
<!--                            못했던 내용들을 바탕으로 새로운 기술을 적용해보기 위한 토이 프로젝트입니다.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[사용언어 및 개발환경]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>PHP 8.1</li>-->
<!--                            <li>Laravel Framework 9 / sail</li>-->
<!--                            <li>Mysql 8.0</li>-->
<!--                            <li>GitHub / GitHub Action</li>-->
<!--                            <li>Aws</li>-->
<!--                            <li>CI/CD</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[상세업무]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>Github Action과 Aws Code Deploy를 활용한 CI/CD 구축</li>-->
<!--                            <li>디자인 패턴(Repository Pattern)을 활용한 개발</li>-->
<!--                            <li>TDD(테스트 주도 개발) 도입</li>-->
<!--                            <li>Laravel Mix를 활용한 scss 도입</li>-->
<!--&lt;!&ndash;                            <li>Docker를 활용한 동일 환경구축</li>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="text-wrap">-->
<!--                        <h3 class="content-title-sub2">[성과]</h3>-->
<!--                        <ul class="default-list">-->
<!--                            <li>코드의 변경사항을 자동으로 빌드, 테스트, 배포과정을 거처 에러를 쉽게 발견해서 처리가 가능, 개발부터 배포까지의 과정을-->
<!--                            지속적으로 진행하여 짧은 주기로 변경사항을 테스트하고 배포가 가능</li>-->
<!--                            <li>배포 이전에 에러를 빠르게 발견하고 수정이 가능, 코드의 품질 향상</li>-->
<!--                            <li>각 계층간의 결합도를 낮춰서 변경이 필요할 시 해당 계층만 수정이 가능, 시스템의 유연성과 확장성 증대</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="content">-->
<!--            <h1 class="content-title">Skills.</h1>-->
<!--            <ul class="default-list">-->
<!--                <li>Front-End : Html5/Css3, jQuery, JavaScript, Sass</li>-->
<!--                <li>Back-End : Php, Laravel, Java, Spring Boot</li>-->
<!--                <li>Data : Mysql</li>-->
<!--                <li>Infra : Aws(EC2, RDS, CodeDeploy, S3 등), Docker</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="content">-->
<!--            <h1 class="content-title">Education.</h1>-->
<!--            <p class="default-text">2011.03 ~ 2015.02 인덕대학교 디자인 멀티미디어 전공</p>-->
<!--        </div>-->
    </div>
</article>